<!DOCTYPE html>
<html>

<head>
	<title>BowlingAlleys</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<link rel="stylesheet" href="/css/loginAndRegisterStile.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>

<body>
	<header>
	<div class="barraLogin">
		<span>
			<a href="/"> <i class="fa fa-home" aria-hidden="true"></i> </a>
		</span>
		<span th:if="${userDetails}">
			<span> <a href="/logout"> <i class="fa fa-sign-out" aria-hidden="true"></i> </a> </span>
			<div th:text="${userDetails.username}"></div>
		</span>
		<div th:unless="${userDetails}">
			<a href="/login"> <i class="fa fa-sign-in" aria-hidden="true"></i> </a>
		</div>
	</div>
</header>

	<h1>Piste della struttura</h2>
	<div th:if="${bowlingAlleys==null || bowlingAlleys.isEmpty()}">Non ci sono piste nel sistema</div>
	<ul>
		<li th:each="alley : ${bowlingAlleys}">
			<div th:text="'Numero di pista :'+${alley.alleyNumber}"></div>
		</li>
	</ul>
</body>

</html>