<!DOCTYPE html>
<html>

<head>
	<title>
		Add Notice
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<link rel="stylesheet" href="../lib/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></head>

<body>
	<header>
	<div class="barraLogin">
		<span>
			<a href="/"> <i class="fa fa-home" aria-hidden="true"></i> </a>
		</span>
		<span th:if="${userDetails}">
			<span> <a href="/logout"> <i class="fa fa-sign-out" aria-hidden="true"></i> </a> </span>
			<div th:text="${userDetails.username}"></div>
		</span>
		<div th:unless="${userDetails}">
			<a href="/login"> <i class="fa fa-sign-in" aria-hidden="true"></i> </a>
		</div>
	</div>
</header>
	
	
	<div>
	<h2>Aggiungi un avviso</h2>
	<form th:action="@{'/admin/notice'}" method="POST" th:object="${review}">
		<div>
			<label>Titolo:</label>
			<input type="text" th:field="${notice.title}" required/>
		</div>
		<div>
			<label>Descrizione:</label>
			<input type="text" th:field="${notice.description}" required/>
		</div>
     
      <button type="submit">Conferma</button>

	</form>
	</div>
</body>

</html>