<!DOCTYPE html>
<html>

<head>
	<title>
		SiwMovie - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
	
</head>

<body>
	<header>
	<div class="barraLogin">
		<span>
			<a href="/"> <i class="fa fa-home" aria-hidden="true"></i> </a>
		</span>
		<span th:if="${userDetails}">
			<span> <a href="/logout"> <i class="fa fa-sign-out" aria-hidden="true"></i> </a> </span>
			<div th:text="${userDetails.username}"></div>
		</span>
		<div th:unless="${userDetails}">
			<a href="/login"> <i class="fa fa-sign-in" aria-hidden="true"></i> </a>
		</div>
	</div>
</header>

	<div><img src="/images/logo-siw.png" width="50%" /></div>
	<h1>Consulta l'archivio</h1>
	
	
	<div>
		<a href="/admin/bowlingAlleys">Piste della struttura</a>
	</div>
	
	<div>
		<a href="/admin/reservations">Elenco prenotazioni</a>
	</div>
	
	<div>
		<a href="/admin/reviewsToDelete">Consulta ed elimina recensioni</a>
	</div>
	<h1>Operazioni per amministratore</h1>
	
	<div>
		<a href="/admin/newBowlingAlley">Aggiungi una pista</a>
	</div>
	<div>
		<a href="/admin/newNotice">Inserisci un nuovo avviso</a>
	</div>
</body>

</html>