<!DOCTYPE html>
<html>

<head>
	<title>Artisti</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
	<div class="barraLogin">
		<span>
			<a href="/"> <i class="fa fa-home" aria-hidden="true"></i> </a>
		</span>
		<span th:if="${userDetails}">
			<span> <a href="/logout"> <i class="fa fa-sign-out" aria-hidden="true"></i> </a> </span>
			<div th:text="${userDetails.username}"></div>
		</span>
		<div th:unless="${userDetails}">
			<a href="/login"> <i class="fa fa-sign-in" aria-hidden="true"></i> </a>
		</div>
	</div>
</header>

	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	<h1>Artisti</h1>
	<div th:if="${artists==null || artists.isEmpty()}">Non ci sono artisti nel sistema</div>
	<ul>
		<li th:each="artist : ${artists}">
			<a th:href="@{'/artist' + '/' + ${artist.id}}"
				th:text="${artist.name} + ' ' + ${artist.surname}">Dino Risi</a>
		</li>
	</ul>
</body>

</html>