<!DOCTYPE html>
<html>

<head>
	<title>
		SiwMovie - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>

<body>
	<header>
	<div class="barraLogin">
		<span>
			<a href="/"> <i class="fa fa-home" aria-hidden="true"></i> </a>
		</span>
		<span th:if="${userDetails}">
			<span> <a href="/logout"> <i class="fa fa-sign-out" aria-hidden="true"></i> </a> </span>
			<div th:text="${userDetails.username}"></div>
		</span>
		<div th:unless="${userDetails}">
			<a href="/login"> <i class="fa fa-sign-in" aria-hidden="true"></i> </a>
		</div>
	</div>
</header>

	<h1>Consulta l'archivio</h1>
	<div>
		<a href="/reviews">Ecco le nostre recensioni</a>
	</div>
	<div>
		<a href="/registeredUser/formNewReservation">Prenota una partita con noi!</a>
	</div>
	
	<h1>Avvisi</h1>
	<div th:if="${notices==null || notices.isEmpty()}">Non ci sono avvisi</div>
	<ul style= "height: 100px; overflow-y: scroll;">
		<li th:each="notice : ${notices}">
			<h3 th:text="${notice.title}"></h3>
			<div>
				<span th:text="${notice.description}"></span>
			</div>
		</li>
	</ul>
</body>

</html>