<!DOCTYPE html>
<html>

<head>
	<title>
		SiwMovie - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>

<body>

	<header>
	<div class="barraLogin">
		<span>
			<a href="/"> <i class="fa fa-home" aria-hidden="true"></i> </a>
		</span>
		<span th:if="${userDetails}">
			<span> <a href="/logout"> <i class="fa fa-sign-out" aria-hidden="true"></i> </a> </span>
			<div th:text="${userDetails.username}"></div>
		</span>
		<div th:unless="${userDetails}">
			<a href="/login"> <i class="fa fa-sign-in" aria-hidden="true"></i> </a>
		</div>
	</div>
</header>

	<div class="archivio"> 
	<h1 class="title">Crea una prenotazione o lascia una recensione!</h1>
	<div class="list-element"> <a href="/registeredUser/formNewReservation">Prenota subito!</a> </div>
	<div class="list-element"> <a href="/registeredUser/formNewReview">Lascia una recensione!</a> </div>
	<div class="list-element"> <a href="/review">Elenco Recensioni</a> </div>
	</div>

</body>

</html>