<!DOCTYPE html>
<html>

<head>
	<title>SiwMovie - Registrazione conclusa</title>
	<link rel="stylesheet" href="/css/stile.css" />
<link rel="stylesheet" href="../lib/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></head>

<body>
	<header>
	<div class="barraLogin">
		<span>
			<a href="/"> <i class="fa fa-home" aria-hidden="true"></i> </a>
		</span>
		<span th:if="${userDetails}">
			<span> <a href="/logout"> <i class="fa fa-sign-out" aria-hidden="true"></i> </a> </span>
			<div th:text="${userDetails.username}"></div>
		</span>
		<div th:unless="${userDetails}">
			<a href="/login"> <i class="fa fa-sign-in" aria-hidden="true"></i> </a>
		</div>
	</div>
</header>

	<div>
	
	<h1>Ecco la tua recensione:</h1>
	<div>
		<h2>Titolo: </h2>
		<h3 th:text="${review.title}"></h3>
	</div>
	<div>
		<h2>Valutazione: </h2>
		<h3 th:text="${review.rating}"></h3>
	</div>
	<div>
		<h2>Commento: </h2>
		<h3 th:text="${review.text}"></h3>
	</div>
	<button>
		<a th:href="@{'/'}">Torna alla home</a>
	</button>
</body>
</html>